<div class="row">
  <div class="col s4">
    <div class="card">
      Orders
    </div>
  </div>
  <div class="col s4">
    <div class="card">
      Paid Orders
    </div>
  </div>
  <div class="col s4">
    <div class="card">
      Transactions
    </div>
  </div>
  <div class="col s4">
    <div class="card">

    </div>
  </div>
</div>
