/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "material";

 :root {
     --red: #7B1721;
     --brown: #C9A97B;
     --khaki: #C5BFBF;
 }

.side-nav {
  float: left;
  background-color: var(--red);
  width: 15%;
  height: 100vh;
}

.logo {
  padding: 30px;
  text-align: center;
  background-color: #F1F1F1;
}

.main {
  margin-left: 15%;
  overflow-y: scroll;
}
